{{ define "main" }}
  <div class="post">
    <h1 class="post-title">
      {{ if eq .Type "tags" }}
        <span class="list-tag-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
            <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
            <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
          </svg>
        </span>
      {{ end }}
      {{ .Title }}
    </h1>
    <div class="post-meta">
    </div>

    {{ if .Content }}
      <div class="post-content {{ if .Params.framed -}}framed{{- end -}}">
        {{ .Content }}
      </div>
    {{ end }}
  </div>

  <div class="posts">
    <ul class="posts-list">
    {{ range (first 5 (sort .RegularPages ".Date" "desc")) }}
      <li class="posts-item">
        <span class="posts-item-date">
          {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
        </span>
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      </li>
    {{ end }}
    </ul>

    <div class="pagination">
      <div class="pagination__buttons">
        <span class="button next">
          <a href="/archive">
            <span class="button__text">Older posts</span>
            <span class="button__icon">→</span>
          </a>
        </span>
      </div>
    </div>
  </div>
{{ end }}
